<div class="center pageTitle">
    <h2>Articles</h2>
</div>
<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <div class="articleLine">
                <li>
                    <%= link_to  article.title, article  %>(status: <%= article.status %>)
                </li>
            </div>
        <% end %>
    <% end %>
</ul>

<%= link_to "[Add New Article Here]", new_article_path , class: "linkToOther fixed-bottom" %>

