<h1>Draft Manager</h1>
<div class="pageTitle">
    <h2>Articles</h2>
</div>
<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <div class="articleLine">
                <li>
                    <%= link_to  article.title, article %>(status: <%= article.status %>)
                </li>
            </div>
        <% end %>
    <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
